/* ОБНУЛЯЮЩИЙ СТИЛЬ */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* ----------------------------------- */

*{
    font-family: Arial, Helvetica, sans-serif;
}
.Artboard{
    width: 1280px;
        height: 3186px;
        padding: 54px 51px 2564px 49px;
        background-color: #fff;
}
.background{
    width: 1280px;
    height: 3186px;
    padding: 54px 51px 2564px 49px;
}

h1{
    font-size: 20px;
    text-align: left;
    color: #445161;
    line-height: 1.5;
}

.text1{
    text-align: right;
    color: #333;
    font-size: 14px;
    line-height: 1;
    
}

.uppercase{
color: #333;
text-transform: uppercase;
line-height: 1;
}

.underline{
    text-decoration: underline;
    color: #333;
}

.italic{
    font-size: 14px;
    font-style: italic;
    line-height: 1;
    text-align: left;
    color: #333;
}

.center{
    font-size: 14;
    line-height: 1;
    text-align: center;
    color: #333;
}

.big{
    font-size: 24px;
    line-height: 1;
    text-align: left;
    color: #333;
}

.line-trought{
    font-size: 14px;
    line-height: 1;
    text-decoration: line-through;
    color: #333;
}

.newroman{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1;
    color: #333;
}

.shadow{
    text-shadow: 0.5px 0.9px 1px #000;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: #333;
}